@import url(http://fonts.googleapis.com/css?family=Slabo+27px|Poiret+One|Open+Sans:400,400italic,600|Norican&subset=latin-ext);

body {
	background-color: #E0F0FF;
}

h1 {
	float: left;
	font-size: 48px;
	text-align: center;
	font-family: Norican;
	font-weight: 400;
	color: #19446A;
	padding-left: 10px;
	padding-bottom: 0;
}

.logo {
	float: left;
	padding-bottom: 0;
}

.meni {
	padding: 0;
}

.meni ul {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #F5FFFF;
	border-bottom: 3px solid #CCD2D8; 
	border-top: 3px solid #CCD2D8;
}

.meni li {
	float: left;
}

.meni li a {
	display: block;
	padding: 8px 55px;
	text-decoration: none;
	font-weight: 400;
	color: #0066CC;
	border-right: 1px solid #CCD2D8;
	font-family: 'Open Sans';
}

.meni li a:hover {
    background-color: #EBF5FF;
	color: #000080;
}

.linkovi {
	margin: 0;
	padding: 0;
	float: left;
	width: 15%;
	list-style-image: url('krug.png');
}

.novosti {
	margin: 0;
	padding: 0;
	float: left;
	width: 69%;
	font-family: 'Slabo 27px';
	background-color: white;
	border-bottom: 1px solid #CCD2D8;
	border-left: 3px solid #CCD2D8;	
}

.novosti h3{
	font-family: 'Open Sans';
	color: #5C656E;
}

.sidebar  {
	margin: 0;
	padding: 0;
	float: left;
	width: 15%;
	font-size: 12px;
}

.tabela table {
	background-color: white;
	table-layout: fixed;
	width: 50%;
	float: left;
	border-collapse: collapse;
	border-spacing: 0;
	border-width: 2px;
	border-style: solid;
	border-color: #4D6D8B;
}

.tabela td, th {
	text-align: left;
	height: 30px;
	border-collapse: collapse;
	border-spacing: 0;
	border-width: 1px;
	border-style: solid;
	border-color: #4D6D8B;
}

.tabela th {
	color: #DFE5EA;
	background-color: #4D6D8B;
}

.alt {
	background-color: #CAD3DC;
}

.kontakt {
	float: left;
}

.kontakt input {
	align: right;
}