@import url(http://fonts.googleapis.com/css?family=Slabo+27px|Poiret+One|Open+Sans:400,400italic,600|Norican&subset=latin-ext);

body {
	background-color: #EFF7FF;
}

h1 {
	float: left;
	font-size: 48px;
	text-align: center;
	font-family: Norican;
	font-weight: 400;
	color: #19446A;
	padding-left: 10px;
	padding-bottom: 0;
}

.logo {
	float: left;
	padding-bottom: 0;
}

.meni {
	padding: 0;
	margin-bottom: 10;
	float: left;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.meni ul {
	clear: left;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	left: 50%;
	text-align: center;
}

.meni ul li {
	display:block;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	right:50%;
}

.meni ul li a {
	display: block;
	padding: 40px 55px;
	margin: 0;
	text-decoration: none;
	font-weight: 400;
	font-family: 'Open Sans';
	background-color: #036;
	color: #E8ECF1;
	border-right: 1px solid #E8ECF1;
}

.meni ul li a:hover {
    background-color: #EBC2FF;
	color: #000080;
	border: 2px solid bisque;
}

.linkovi {
	margin: 0;
	padding: 0;
	float: left;
	width: 15%;
	list-style-image: url('krug.png');
}

.novosti {
	margin: 0;
	padding: 0;
	float: left;
	width: 69%;
	font-family: 'Slabo 27px';
	background-color: white;
	border-bottom: 1px solid #CCD2D8;
	border-left: 3px solid #CCD2D8;	
}

.novosti h3{
	font-family: 'Open Sans';
	color: #5C656E;
}

.o_nama {
	margin: 0;
	padding: 0;
	float: left;
	width: 69%;
	font-family: 'Slabo 27px';
	background-color: white;
	border-bottom: 1px solid #CCD2D8;
	border-left: 3px solid #CCD2D8;	
}

.o_nama h3{
	font-family: 'Open Sans';
	color: #5C656E;
}

.sidebar  {
	margin: 0;
	padding: 0;
	float: left;
	width: 15%;
	font-size: 12px;
}

div.info {
	float: left;
	width: 69%;
}

.info table {
	background-color: white;
	table-layout: fixed;
	width: 50%;
	float: left;
	border-collapse: collapse;
	border-spacing: 0;
	border-width: 2px;
	border-style: solid;
	border-color: #4D6D8B;
}

.info td, th {
	text-align: left;
	height: 30px;
	border-collapse: collapse;
	border-spacing: 0;
	border-width: 1px;
	border-style: solid;
	border-color: #4D6D8B;
}

.info th {
	color: #DFE5EA;
	background-color: #4D6D8B;
}

.alt {
	background-color: #CAD3DC;
}

.kontakt, .proizvodi {
	float: left;
	width: 69%;
}

.kontakt, .proizvodi input {
	align: right;
}

#greska_mail {
	visibility: hidden;
}

#greska_poruka {
	visibility: hidden;
}

#greska_tel {
	visibility: hidden;
}

#greska_drzave {
	visibility: hidden;
}

#poruka {
	vertical-align: top;
}

.stablo {
	float: left;	
}

.stablo li {
	list-style-type: none;
}