@import url(http://fonts.googleapis.com/css?family=Slabo+27px|Open+Sans:400,400italic,600|Norican&subset=latin-ext);

body {
	background-color: #E0F0FF;
}

.novosti h3{
	font-family: 'Open Sans';
}

h1 {
	font-size: 48px;
	text-align: center;
	font-family: Norican;
	font-weight: 400;
	color: #002F59;
}

#meni {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #F5FFFF;
	border-bottom: 3px solid #CCD2D8; 
	border-top: 3px solid #CCD2D8;
}

#meni li {
	float: left;
}

#meni li a {
	display: block;
	padding: 8px 55px;
	text-decoration: none;
	font-weight: 400;
	color: #0066CC;
	border-right: 1px solid #CCD2D8;
	font-family: Open Sans;
}

#meni li a:hover {
    background-color: #EBF5FF;
	color: #000080;
}

#linkovi {
	margin-right: 15%;
	float: left;
	padding-right: 40px;
	height: 100%;
}

.novosti {
	display: block;
	margin-left: 105px;
	font-family: 'Slabo 27px';
	background-color: white;
	border-bottom: 1px solid black;
	border-left: 3px solid #CCD2D8;	
}